@charset "UTF-8";
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 22vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item > a{
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: .1em 5em 1em 1em;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}


/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}


/*----------------------------
* その他
*----------------------------*/

/* ヘッダーロゴ */
.header-logo > a{
 text-decoration: none;
 color: #000000;
 font-size: 30px;
 float: left;
 padding: 10px 10px 5px 10px;
}

.main{
	padding: 100px 100px 100px 100px;
}

.center {
	padding: 200px 200px 200px 200px;
  text-align: center;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 80%;
    height: 700px;
    margin: 0 auto;
    
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    /* border: solid 3px #000000; */
    height: 20%;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.lung{
	display: flex;
	justify-content: center;
}

.lung_right_box {
	border: solid 3px #000000;
	width: 20%;
	margin-right: 10%;
}

.lung_left_box {
	border: solid 3px #000000;
	width: 20%;
	margin-left: 10%;
}

.liver_box{
	border: solid 3px #000000;
	margin: 0 auto;
	width: 70%;
	height: 100%
}

.stomach_box{
	border: solid 3px #000000;
	margin: 0 auto;
	width: 70%;
	height: 100%
}
