@charset "UTF-8";
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 22vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item > a{
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: .1em 5em 1em 1em;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}


/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}


/*----------------------------
* その他
*----------------------------*/

/* ヘッダーロゴ */
.header-logo > a{
 text-decoration: none;
 color: #000000;
 font-size: 30px;
 float: left;
 padding: 10px 10px 5px 10px;
}

header {
	border-bottom: 1px solid; /* 線の太さと可視化 */
	height: 100px;
}

main {
	height: 600px;
}

.main-box{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.button-box{
	 width: 20%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 flex-wrap: nowrap;
	 justify-content: space-around;
	 align-items: center;
}


.record-button-box {
	border: 1px solid;
	width: 60%; 
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:200px;
	box-shadow: 8px 10px 10px #666666;  /* 影の設定 */
	transition: .3s; 
}

.statistics-button-box {
	border: 1px solid;
	width: 60%; 
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:200px;
	box-shadow: 8px 10px 10px #666666;  /*影の設定*/
	transition: .3s; 
}

.record-button-box:hover {
	box-shadow: none; /* カーソル時の影消去 */
	transform: translateY(-4px);
}

.statistics-button-box:hover {
	box-shadow: none; /* カーソル時の影消去 */
	transform: translateY(-4px);
}


.button-img {
	height: 130px;
	width: 130px;
}

.human-box{
	 /* border: 1px solid; */
	 width: 60%;
	 height: 100%;
	 background-image: url(../images/body_bgi_11.png);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 display: flex;
	 flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}



.lung-img {
	height: 100%;
	width: 100%;
}

.livar-img {
	height: 85%;
	width: 100%;
}

.stomach-img {
	height: 100%;
	width: 100%;
}

.bmi-human-box {
	 /* border: 1px solid; */
	 width: 20%;
	 height: 100%;
	 display: flex;
	 flex-direction: column-reverse;
	 align-items: center;
}

/* ツールチップのCSS */
.tooltip{
    position: relative;
    cursor: pointer;
    display: flex;
    height: 33%;
    width: 33%;
    justify-content: center;
    align-items: center;
}
/* .tooltip-lung img{
    width: 20px;
} */
.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
 
.description:before {
    content: "";
  	position: absolute;
  	top: 50%;
  	left: -30px;
  	margin-top: -15px;
  	border: 15px solid transparent;
  	border-right: 15px solid #000;
}

  
.tooltip:hover .description{
    display: inline-block;
    top: 50px;
    right: -100px;
} 


.bmi-human-box-img {
	display: flex;
	flex-direction: column;
} 

footer {
	border-top: 1px solid;
	height: 100px;
}



